.overlay-section {
    position: relative;
    background-image: url('../Images/funki.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
  }

  .overlay-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .overlay-content {
    position: relative;
    z-index: 2;
    text-align: center;
    transform: translateY(50%);
  }